/* @font-face {
    font-family: 'Seed';
    src:  url('./LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
}

@font-face {
    font-family: 'Seed';
    src:  url('./LINESeedKR-Rg.woff2') format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'Seed';
    src:  url('./LINESeedKR-Th.woff2') format('woff2');
    font-weight: 250;
} */

* {
    font-family: "SUIT";
}

input {
    font-family: "SUIT";
    font-size: 4rem;
}